.about-games__box:hover {
    scale: 1.07;
    cursor: pointer;
}

.running-line__text {
    animation-name: TextShow;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    //animation-fill-mode: forwards;
    animation-direction: normal;
}

@keyframes TextShow {
    0% {
        color: rgb(188, 236, 48);
    }

    25% {
        color: rgb(94, 118, 24);
    }

    50% {
        color: rgb(0, 0, 0);
    }

    75% {
        color: rgb(94, 118, 24);
    }

    100% {
        color: rgb(188, 236, 48);
    }
}

.running-line__star {
    animation-name: StarShow;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    //animation-fill-mode: forwards;
    animation-direction: normal;
}

@keyframes StarShow {
    0% {
        filter: brightness(100%);
    }

    25% {
        filter: brightness(50%);
    }

    50% {
        filter: brightness(0%);
    }

    75% {
        filter: brightness(50%);
    }

    100% {
        filter: brightness(100%);
    }
}

.running-line {
    animation-name: TextFloating;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes TextFloating {
    0% {
        left: 0px;
    }

    100% {
        left: -3171px;
    }
}

@media (max-width: 767px) {
    .running-line {
        width: calc(1585px + 100vw);
    }

    .running-line__text {
        animation-name: TextShow;
        animation-duration: 5s;
    }

    .running-line__star {
        animation-name: StarShow;
        animation-duration: 5s;
    }

    .running-line {
        animation-name: TextFloating;
        animation-duration: 30s;
    }

    @keyframes TextFloating {
        0% {
            left: 0px;
        }

        100% {
            left: -1585px;
        }
    }
}
